$mainColor : #FFEBB7;
$subColorBlue : #B5E1F9;
$subColorPurple : #D1CFFF;
$subColorPink : #F9D6D6;
$subColorGreen : #85BD91;
$subColorSoftBlue : #CDE6F9;
$pointColorPink : #FF7682;
$pointColorOrange : #FF9268;
$pointColorPurple : #A374C8;
$pointColorGreen : #8AE89F;
$pointColorBlue : #77C5FF;
$fontColorBlack : #333333;
$fontColorGray : #989797;
$fontColorSoftGray : #F2F2F2;
$fontColorDarkBeige : #B2A569;

body li{
    list-style: none;
}



.hd{
    background-color: transparent !important;
        h1,
        .utill{
            width: 0;
        }

            .gnb {
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top:100%;
                    height:0;
                    left: 0;
                    right: 0;
                    transition: 0.5s;
                    background-color: white;
                    min-width: 80px;
                    border-radius: 20px;
                }
                &:hover{
                    &:before,
                    ul{
                        height: 180px !important;
                    
                    }

                }
                .gnb_li{
                      
                    .gnb_a{//대메뉴
                        font-size: 1.2em;
                        font-weight: 700;
                        }
                    .gnb_li_ul{//소메뉴
                        min-width: 80px;
                        white-space: nowrap;
                        color: $fontColorBlack;
                        height: 0;
                        transition: 0.5s;
                        overflow: hidden;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: center;
                        left: 0;
                        right: 0;
                        

                        &:after,
                        &:before{
                            content: "";
                            display: block;
                            height: 1rem;
                        }


                        li {
                            line-height: 2;

                            
                        }
                        li:hover{
                            a {
                                border-bottom: 1px $fontColorBlack solid;
                                font-weight: 700;
                            }

                        }
                    }
                }
                        
            }

            .utill li{
                margin-left: 1rem;
                .searchIcon{
                    span{
                       
                }
                }
                
            }
              
            .searchMenu{
                position: absolute;
                min-width: 285px;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
                font-weight: 400;
                background-color: white;                
                border-radius: 15px;
                top: -9px;
                right: -21px;
                height: 0;
                font-size: 14px;
                font-weight: 400;
                height: 184px !important;
                border:1px solid #ccc;
                .searchinput{
                    border: none;
                    outline: none;
                }
                .searchbt{
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    cursor: pointer;
                    outline: none;
                }
                .dropdownbox {                    
                    padding: 10px 20px 20px;
                    .searchPopular{
                        font-weight: 500;
                        font-size: 14px;
                        border-top: 0.5px solid black;
                    }
                }
             }
             .number {
                color: inherit;
              }
              
              .number.red {
                color: red;
              }
}

.ft{
    margin:0 auto;
    background-color:$mainColor ;
    .footerMenu{
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        li{
            margin-left: 1rem;
        }
        .footerIcon{
            span{
                position: absolute;
                width: 0;
                height: 0;
                display: block;
                overflow: hidden;
                opacity: 0;
        }
        }
        .verticalLine{
            margin-left: 1rem;
            width: 1px;
            height: 15px;
            background-color: black;
        }
        .languageSelector{
            position: relative;
            display: inline-block;
            .languageButton{
                width: 107px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #000;
                color: #fff;
                padding: 5px 10px;
                border-radius: 25px;
                cursor: pointer;
            }
            .languageMenu{
                position: absolute;
                top: 50px;
                left: 0;
                background-color: #fff;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                border-radius: 10px;
                overflow: hidden;
                z-index: 1000;
                width: 100px;
                transform: translateX(10px) translateY(-10px);
                font-size: 14px;
                font-weight: 400;
                border: 0.5px solid #999999 ;

                li{
                    padding: 10px 20px;
                    cursor: pointer;
                    list-style: none;
                }

            }
            .languageMenu li:hover, .languageMenu li.active {
                background-color: white;
              }
          
              .languageMenu li.active {
                color: #379CEE;
              }
          
              .languageMenu li.active::after {
                content: url(../../img/ftCheck2.svg);
                float: right;
                color: #379CEE;
              }
        }

    }
    .fnb{
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        li{
            margin-right: 2rem;
            font-size: 14px;
            font-weight: 600;
        }
       
    }
    p{
        font-size: 12px;
        font-weight: 400;
    }
    }


    .quick{
        position: fixed;
        right: 5%;
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        bottom: 0;
        z-index: 999;
        li{
            &.questionIcon{      
                position: relative;      
                width: 56px;
                height: 56px;
                border-radius: 50%;
                overflow: hidden;
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-color: #fff;
                    z-index: -1;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                }
            }
            margin: 8px 0;
            &:hover{
                span{
                    display: block;
                }
            }
           
            span{
                display: none;
                border-radius: 20px;
                white-space: nowrap;
                background-color: #000;
                color: white;
                padding: 5px 10px;
                right: -20px;
                
              
                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 12px solid #000;
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateY(-150%) rotate(-90deg) translateX(-2px);
                    
                
                }
            }
        }
    }